<div class="container">
    <div class="row">

        <div class="col-xs-2 col-md-2 col-xl-2 " style="margin-bottom: 10px;margin-top: 10x">
            <a class="btn btn-primary" style="width: 100%">
                <h5>
                    Tổng Doanh thu
                </h5>
                <p>123</p>
            </a>
        </div>

        <div class="col-xs-2 col-md-2 col-xl-2" style="margin-bottom: 10px;margin-top: 10x">
            <a class="btn btn-warning" style="width: 100%">
                <h5>
                    Tổng Doanh thu
                </h5>
                <p>123</p>
            </a>
        </div>

        <div class="col-xs-2 col-md-2 col-xl-2" style="margin-bottom: 10px;margin-top: 10x">
            <a class="btn btn-danger" style="width: 100%">
                <h5>
                    Tổng Doanh thu
                </h5>
                <p>123</p>
            </a>
        </div>

        <div class="col-xs-2 col-md-2 col-xl-2" style="margin-bottom: 10px;margin-top: 10x">
            <a class="btn btn-success" style="width: 100%">
                <h5>
                    Tổng Doanh thu
                </h5>
                <p>123</p>
            </a>
        </div>

        <div class="col-xs-2 col-md-2 col-xl-2" style="margin-bottom: 10px;margin-top: 10x">
            <a class="btn btn-primary" style="width: 100%">
                <h5>
                    Tổng Doanh thu
                </h5>
                <p>123</p>
            </a>
        </div>

    </div>
</div>